<h4>Results for: <%= results %></h4>

<% feeds.forEach(function(feed){ %>
  <a class="card" href="/podcast/<%= feed.id %>">
    <img class="poster" src="<%= feed.poster %>" alt="<%= feed.title %>">
  </a>

<% }) %>
