/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */



// For example:
//
// @import 'variables/colors.less';
// @import 'mixins/foo.less';
// @import 'mixins/bar.less';
// @import 'mixins/baz.less';
//
// @import 'styleguide.less';
// @import 'pages/login.less';
// @import 'normalize.less';
@import 'bootstrap.less';
@import '_variables.less';
@import 'videojs.less';
// @import 'playlist.less';
//
// etc.

body{
  font-family: @font-family;
}

input{
  border: none;
  &:focus{
    outline: none;
  }
}
.brand{
	a{
		font-weight: 200;
		color: @blue;
		text-decoration: none;
	}
}
.card{
  // background: @black;
  padding-bottom: 30px;
  color: @black;
  text-decoration: none;
  &:hover{
    img{
      opacity: .5;
    }
  }
}

h1, h2, h3, h4, h5, h6{
  margin-top: 0;
  margin-bottom: 15px;
}
.poster{
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.feed-form{
  margin-bottom: 30px;
  border-bottom: 3px solid @blue;
}
.input{
  display: inline-block;
  padding: 22px 0;
  width: 72%;
  border: none;
  border-radius: 0;
  font-size: 20px;
  background: @white;
}
.disqus-container{
  margin-top: 30px;
}
.submit{
  height: 72px;
  width: 28%;
  padding: 0;
  margin: 0;
  float: right;
  background: @light-gray;
  border: none;
  &:active{
    color: @black;
    border-radius: 0;
    background: darken(@light-gray, 10%);
  }
  &:hover{
    color: @black;
    border-radius: 0;
    background: darken(@light-gray, 10%);
  }
  &:focus{
    color: @black;
    border-radius: 0;
    background: darken(@light-gray, 10%);
  }
  @media (min-width: @screen-sm-min) {
    width: 200px;
  }
}

.feed-meta{
  margin-top: 30px;
  @media (min-width: @screen-sm-min) {
    margin-top: 0;
  }
}
.results{
  padding-left: 20px;
  padding-right: 20px;
}
.podcast-player{
  height: 250px;
  width: 250px;
}
.feed-info-container{
  float: left;
  display: inline-block;
  width: 60%;
}
.feed-title{
  margin-top: 0;
  span{
    padding-left: 12px;
    font-size: 14px;
  }
}
.feed-description{
  font-size: 18px;
}
.feed-content{
  h4{
    font-size: 16px;
  }
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid @brand-primary;

}
.player-row{
  margin-bottom: 30px;
}
.episode-title{
  margin-top: 0;
  font-size: 18px;
}
.episode-pubdate{
  font-size: 14px;
}
.play-icon{
  display: none;
  padding-right: 12px;
}
.currentTrack{
  .play-icon{
    display: inline-block;
  }
}
.search-item{
  margin-top: 20px;
}
.search-submit{

  margin: 0;
}
.search-field{
  width: 100%;
}

.footer{
  margin-top: 30px;
  padding: 30px 0;
  color: @white;
  background: @brand-primary;
  a{
    color: @white;
    text-align: right;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
}
.footer-nav{
  float: right;
}
